@model IEnumerable<UFX_WCCI.Models.Posting>
@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="~/Content/W3.css" rel="stylesheet" />
</head>

<div class="jumbotron">
    <h1>Urban Farmer Xchange</h1>
    <p class="lead">Like craigslist for gardeners</p>
    <p><a href="https://localhost:44377/Postings" class="btn btn-primary btn-lg">Postings </a></p>
</div>

    @Html.ActionLink("Show Map", "PostsMap", "Postings")

<h2>Produce Posts</h2>
    @foreach (var item in Model)
    {
                
        <body class="w3-container">            

            <div class="w3-card-4" style="width:40%">

                <header class="w3-container w3-light-grey">
                    <h3>
                        @Html.ActionLink(item.AppUser.UserName, "UserProfile", "Postings", new { id = item.AppUser.Id }, null)                        
                    </h3>
                </header>

                <div class="w3-container">
                    <p>Price: @item.Price</p><p>Quantity: @item.Quantity</p>
                    <hr>
                    <img src="~/PostFile?id=@item.PostingID" alt="Post Picture" class="w3-left w3-accordion w3-margin-right" style="width:60px"/>
                    @*<img src="img_avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">*@
                    <p>@item.Desc</p><br>
                </div>
                <p class="w3-dark-grey"> @item.PostingTime.DayOfWeek, @item.PostingTime.Month/@item.PostingTime.Day @item.PostingTime.Hour:@item.PostingTime.Minute </p>
                                
            </div>
        </body>


    }

