@model IEnumerable<UFX_WCCI.Models.Posting>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Urban Farmer Xchange</h1>
    <p class="lead">Like craigslist for gardeners</p>
    <p><a href="https://localhost:44377/Postings" class="btn btn-primary btn-lg">Postings </a></p>
</div>


<table>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.AppUser.UserName, "UserProfile", "Postings", new { id = item.AppUser.Id }, null)

            </td>
            <td>
                @*Code from Olay tutorial to display image. Needs its own contoller to fully function*@
                <img src="~/PostFile?id=@item.PostingID" width="75" height="75" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PostingTime)
            </td>
            <td>

                @if (item.AppUser == ViewBag.CurrentUser)
                {
                    <span> @Html.ActionLink("Edit", "Edit", new { id = item.PostingID }) |</span>

                    <span>@Html.ActionLink("Delete", "Delete", new { id = item.PostingID })</span>
                }
            </td>
        </tr>
    }
</table>