@model PagedList.IPagedList<UFX_WCCI.Models.Posting>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>Urban Farmer Xchange</h1>
        <p class="lead">Like craigslist for gardeners</p>
        <p><a href="https://localhost:44377/Postings" class="btn btn-primary btn-lg">Postings </a></p>
    </div>*@

<p class="indexhead">Find Growers Near You:</p>

<div>
    <div class="mapdiv" id="map_canvas" class="col-md-12" style="height:60vh;"></div>
    @*<div id="userpostings" class="col-md-6" style="padding-top:40px;">
            <ol type="A" class="list"></ol>
        </div>*@

</div>

@section Scripts{
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBsT1NB4_Y4FwHcrXCKqRXell4s6rInvUg"></script>
    <script type="text/javascript">


        var map;
        var markers = [];
        //var userMarkers = [];

        initialize();

        //$.each(userMarkers, function(index,Marker) {
        //    $('#userpostings .list').append('<li><span><a href="/Postings/UserProfile?id=' + Marker.userId + '">' + Marker.userName + '</span></li>')});

        //$.each(userMarkers,google.maps.event.addListener(Marker, 'click', function() {
        //    window.location.href = '/Postings/UserProfile?id=' + Marker.userId + '">' + Marker.userName + '</span></li>';
        //}));

        $.each(markers, function(index, marker) {
            marker.addListener('click', function() {
                window.location.href = this.url;
            });
        });

        //$.each(markers,google.maps.event.addListener(marker, 'click', function() {
        //    window.location.href = this.url;
        //}));

        //$('#userpostings .list').append('<li><span>@@Html.ActionLink(@@'+Marker.userName+',"UserProfile", "Postings",new { id = @@'+Marker.userId+' },null)</span></li>');
        //    });

        function initialize() {
            var myOptions = {
                zoom: 10,
                //if user is logged in
                @if (ViewBag.CurrentUser != null)
                {
                    @:center: new google.maps.LatLng(@ViewBag.CurrentUser.Latitude, @ViewBag.CurrentUser.Longitude),

                }
                else
                {
                    @:center: new google.maps.LatLng(41.88483, -81.34535),
                                                                }
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                clickableIcons:true
            }

            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var i = 0;

            @foreach (var user in ViewBag.AllUsers) {
                   @:addMarker(new google.maps.LatLng(@user.Latitude, @user.Longitude), "@user.UserName","@user.Id");

                    @*foreach(var post in user.Posts){
                        @:userMarkers[i].userPosts.push(@Html.Raw(Json.Encode(new { item = post.Desc, quantity = post.Quantity })));
                                }
                    @:i++;*@
            }
        }

        function addMarker(latlng, myTitle,userId) {
            markers.push(new google.maps.Marker({
                position: latlng,
                map: map,
                title: myTitle,
                icon: "https://maps.google.com/mapfiles/marker" + String.fromCharCode(markers.length + 65) + ".png",
                url:'/Postings/UserProfile?id=' + userId
            }));


        }

    </script>
}




<h2>Produce Posts</h2>
<div class="w3-row">
    @{int counter = 0;
        string extrastyle = "";}
    @foreach (var item in Model)
    {
        if (counter % 2 == 0)
        {
            extrastyle = " style = \"clear: left;\"";
        }
        else
        {
            extrastyle = "";
        }
        <div class="w3-half w3-container" @Html.Raw(extrastyle)>

            <div class="w3-card-4" style="margin-bottom: 20px;">

                <header class="w3-container w3-light-grey">
                    <h3>
                        @Html.ActionLink(item.AppUser.UserName, "UserProfile", "Postings", new { id = item.AppUser.Id }, null)
                    </h3>
                </header>

                <div class="w3-container">
                    <div class="w3-row-padding w3-container">
                        <p class="w3-half w3-container">Price: @item.Price</p><p class="w3-half w3-container">Quantity: @item.Quantity</p>
                    </div>
                    <hr>
                    <img src="~/PostFile?id=@item.PostingID" alt="Post Picture" class="w3-left w3-accordion w3-margin-right" style="width:60px" />
                    @*<img src="img_avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">*@
                    <p>@item.Desc</p><br>
                </div>
                <p class="w3-dark-grey"> @item.PostingTime.DayOfWeek, @item.PostingTime.Month/@item.PostingTime.Day @item.PostingTime.Hour:@item.PostingTime.Minute </p>

            </div>
        </div>
         counter++;

    }

</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))


