
@model IEnumerable<UFX_WCCI.Models.Posting>
@{
    ViewBag.Title = "Home Page";
}

@using Microsoft.AspNet.Identity

@{
    Layout = null;
}


<!DOCTYPE html>

@*@model UFX_WCCI.Models.IndexViewModel
    @{
        ViewBag.Title = "Manage";
    }*@

@*Need hidden input fields; input type=hidden
    instead of document.getelementById, look at forms and change value of form field. Its Id will be document.getElementById.Latitude?
*@

@*<script>
        jQuery('ul.nav li.dropdown').hover(function () {
            jQuery(this).find('.dropdown-menu1').stop(true, true).delay(200).fadeIn();
        }, function () {
            jQuery(this).find('.dropdown-menu1').stop(true, true).delay(200).fadeOut();
        });
    </script>*@



<html>
<head>

    <title>Urban Farmer Exchange</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/site2.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link href="~/Content/splashpage.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">

    <link href="~/main.css" rel="stylesheet" />
    <link href="~/ie8.css" rel="stylesheet" />

    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

</head>
<body>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UFX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@

    <div class="splashhead">
    <!-- Header -->
    <header id="header">
        <h1>UFX</h1>
        <p>
            Urban Farmer Exchange: find and trade with growers near you.
        </p>
    </header>

    <!-- Signup Form -->
    <div container class="contclass">


        @*<input type="submit" class="button buttons" value="Post" />

        <input type="submit" class="button buttons" value="Find" />*@

    </div>
        </div>

    @*<button type="submit" value="Post"></button>
        <button type="submit" value="Find"></button>*@

    @*<div container class="contclass">
        <button class="buttons" type="button">Post</button>
        <button class="buttons" type="button">Find</button>
        </div>*@


    <!-- Footer -->
    <!--<footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled.</li>
            <li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer> /-->
    @*<footer>Credits: <a href="http://html5up.net">HTML5 UP</a></footer>*@

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/main.js"></script>
    <script>
    $(function(){
    $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            });
    });
    </script>


    @*<script>
        jQuery('.dropdown-menu1').hover(function () {
            jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
        }, function () {
            jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
        });
        </script>*@

    <footer id="footer1">
        <p class="smalltext" >&copy; @DateTime.Now.Year - UFX</a></p>
    </footer>
</body>
</html>
