@model IEnumerable<UFX_WCCI.Models.Posting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            Photo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostingTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>         
        @Html.ActionLink(item.AppUser.UserName, "UserProfile", "Postings", new { id = item.AppUser.Id }, null)



            @*<a href="@Url.Action("Details", "Postings", new { id=item.AppUser})">@Html.DisplayFor(modelItem => item.AppUser.UserName, "Profile", "Postings")</a>*@

            @*@Html.DisplayFor(modelItem => item.AppUser.UserName)*@
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @*Code from Olay tutorial to display image. Needs its own contoller to fully function*@
            <img src="~/PostFile?id=@item.PostingID" width="75" height="75" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostingTime)
        </td>
        <td>

            @if (item.AppUser == ViewBag.CurrentUser)
            {
                <span> @Html.ActionLink("Edit", "Edit", new { id = item.PostingID }) |</span>

                <span>@Html.ActionLink("Delete", "Delete", new { id = item.PostingID })</span>
            }
        </td>
    </tr>
}

</table>
