@*@Using UFX_WCCI.Models*@
@model UFX_WCCI.Models.ApplicationUser


@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @*@ViewBag.Latitude = Model.Latitude
        @ViewBag.Longitude = Model.Longitude*@

        @Model.UserName
        <br />
        <img src="~/AvatarFile?id=@Model.Id" width="200" height="200" />
        <br />
        @Model.Bio
        <br />
        @if (Model.Email != null)
        {
            <span> @Model.Email </span>
        }
        <br />
        @Model.Latitude
        <br />
        @Model.Longitude
 
    </div>
 
    <div id="map_canvas" style="width:425px; height:550px;"></div>

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBsT1NB4_Y4FwHcrXCKqRXell4s6rInvUg"></script>
    <script type="text/javascript">


        var map;
        var markers = [];

        initialize();

        function initialize() {
          var myOptions = {
            zoom: 10,
            center: new google.maps.LatLng(@Model.Latitude,@Model.Longitude),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        addMarker(new google.maps.LatLng(@Model.Latitude, @Model.Longitude), "User");
        }

        function addMarker(latlng, myTitle) {
          markers.push(new google.maps.Marker({
            position: latlng,
            map: map,
            title: myTitle,
            icon: "https://maps.google.com/mapfiles/marker" + String.fromCharCode(markers.length + 65) + ".png"
          }));
        }

    </script> 
    </body>
    </html>
